<form method="post" action="register">
    <label for="code">Code</label>
    <br>
    <input type="text" name="code" placeholder="Tulis code disini">
    <br>

    <button type="submit">Register</button>
</form>